button.image-gallery-icon.image-gallery-right-nav {
  right:15% !important; 
  top: 50% !important; 
  transform: translateY(-50%) !important;
  padding: 10px !important; 
  z-index: 10 !important; 
  width: 30px;
}

button.image-gallery-icon.image-gallery-left-nav {
  left: 10% !important; 
  top: 50% !important; 
  transform: translateY(-50%) !important; 
  padding: 10px !important; 
  z-index: 10 !important; 
  width: 30px;
}

