.title-login {
    text-align: center
}

.auth-form-wrapper{
    @include input-element;
    @include base-grid;
    gap: 21px;
    padding: 42px;
    
    .form-group{
        display: flex;

        svg {
            font-size: 2em;
            color: $teal;
            margin-right: 15px;
        }
    }

    .links-login-modal-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .link-forgot-pass {
            color: $teal;
            font-weight: 700;
            font-size: 1.2em;
            cursor: pointer;
            transition: 0.5 ease-in-out;

            &:hover {
                color: $dark-teal;
            }
        }

        .link-register {
            .register-link {
                color: $teal;
                font-weight: 700;
                font-size: 1.2em;
                cursor: pointer;
                transition: 0.5 ease-in-out;
                
                &:hover {
                    color: $dark-teal;
                }
            }
        }
    }
}

