.DraftEditor-root {
    border: 1px solid $lightgrey;
    border-radius: 3px;
    padding: 20px;

}

.rdw-emoji-modal{
    left: -171px;
}

.rdw-embedded-modal {
    left: -125px;
}

.rdw-image-modal {
    left: -215px;
}